# Node
node_modules/
npm-debug.log*
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo

# Electron
dist/
out/

# App runtime
debug/
*.kg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
